Package: me.minhton.ninemusic
Name: NineMusic
Version: 1.0.0
Architecture: iphoneos-arm
Description: iOS 9 Lockscreen Music Player!
Author: MinhTon <ford.tonthat@gmail.com>
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, firmware (>= 13.0)
Conflicts: me.lightmann.vinyl, love.litten.lobelias, com.golddavid.colorflow5
Depiction: https://minh-ton.github.io/repo/depictions/?p=me.minhton.ninemusic
Icon: https://minh-ton.github.io/repo/icons/NineMusic/Icon.png
Homepage: https://minh-ton.github.io
